{
	"version": "0.2.0",
	"configurations": [
		{
			"name": "Launch with GDB",
			"type": "cppdbg",
			"request": "launch",
			"program": "[PROGRAM]",
			"cwd": "${workspaceFolder}",
			"args": [],
			"targetArchitecture": "x86",
			"MIMode": "gdb",
			"miDebuggerPath": "[GDB]",
			"miDebuggerArgs": "",
			"customLaunchSetupCommands": [
				{
					"text": "target remote ${input:debuggerTargetHost}",
					"description": "Connect to QEMU remote debugger"
				}
			],
			"setupCommands": [
				{
					"description": "Enable pretty-printing for gdb",
					"text": "-enable-pretty-printing",
					"ignoreFailures": true
				},
				{
					"text": "file ${input:debuggerTargetFile}",
					"description": "Load binary."
				}

			],
			"preLaunchTask": "Run QEMU with debugger"
		}
	],
	"inputs": [
		{
			"id": "debuggerTargetFile",
			"type": "pickString",
			"description": "Select debug file",
			"options":[ [DEBUG_TARGETS] ],
			"default": [DEFUALT_DEBUG_TARGET]
		},
		{
			"id": "debuggerTargetHost",
			"type": "promptString",
			"description": "Select debug host",
			"default": "localhost:1234"
		}
	]
}
